@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&family=Roboto:wght@500&display=swap');

.mobile-popup-container{
    font-family:'Roboto', sans-serif;
    height: 15rem;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: white;
    border: none;
    border-radius: 7px;
    padding: 20px;
}
.mobile-popup-heading{
    font-size: 3.5vw;
    font-weight: 100;
}
.mobile-name-input-area{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.mobile-name-input-area>input{
    border-style: solid;
    width: 60%;
    height: 30px;
    font-size: 15px;
    padding: 9px;
    border-color: #CCCCCC;
    border-radius: 13px;
}
.mobile-name-input-area>input::placeholder{
    font-size: 11px;
    color: #CCCCCC;
} 

.mobile-color-input-area{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.mobile-color-container{
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.3vw;
    align-items: center;
}
.mobile-color-input-1,
.mobile-color-input-2,
.mobile-color-input-3,
.mobile-color-input-4,
.mobile-color-input-5,
.mobile-color-input-6{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: black;
}
.mobile-color-input-1{
    background-color: #B38BFA;
}
.mobile-color-input-2{
    background-color: #FF79F2;
}
.mobile-color-input-3{
    background-color: #43E6FC;
}
.mobile-color-input-4{
    background-color: #F19576;
}
.mobile-color-input-5{
    background-color: #0047FF;
}
.mobile-color-input-6{
    background-color: #6691FF;
}
.highlight{
    border: 2px solid rgb(45, 45, 45);
    border-radius: 50px;
}

.mobile-create-btn>button{
    background-color: black;
    color: white;
    border-style: solid;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 110px;
    height: 28px;
    border-radius: 7px;
    cursor: pointer;
}
.mobile-create-btn>button:hover{
    background-color: rgb(166, 166, 166);
    color: black;
}
.mobile-close-btn{
    position: absolute;
    top: 5%;
    right: 4%;
    cursor: pointer;
}